# For detail information on mod_rewrite see
# http://httpd.apache.org/docs/3.2/mod/mod_rewrite.html

RewriteEngine On
RewriteBase   /

RewriteCond   %{REQUEST_FILENAME} !__init.php
RewriteRule   ^(.*)$              /__init.php [L,QSA]
