# For detail information on mod_rewrite see
# http://httpd.apache.org/docs/3.2/mod/mod_rewrite.html

RewriteEngine On
RewriteBase   /

# Without subdomain
RewriteCond   %{REQUEST_FILENAME} !__init.php
RewriteRule   ^(.*)$              /__init.php?uri=/$1 [L,QSA]
